h1 {
    position: relative;
    font-size: 30px;
    text-align: center;
}

h1:before, h1:after {
    position: absolute;
    top: 52%;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: black;
    margin-left: 5px;
}

h1:before {
    margin-left: -50%;
}

h2 {
    text-align: center;
    padding-top: .5em;
}

.elem {
    border: 1px solid black;
    width: 25em;
}

img {
    width: 25em;
    height: auto;
}

div > p {
    text-align: center;
}

body > p {
    text-align: center;
    border: 1px solid black;
    padding: .5em;
}

iframe {
    position: fixed;
    right: .5em;
    top: 1em;
    z-index: 1;
}

.hidden {
    display: none;
}

.rabbit-lyrics {
    border: 1px black solid;
    padding-left: .5em;
}

#lyrics {
    display: flex;
    justify-content: center;
}

.hololive {
    background-image: url("../img/background/hololive.jpg");
}

.nijisanji {
    background-image: url("../img/background/nijisanji.jpg");
}

.stellarCycleCampus {
    background-image: url("../img/background/stellar_cycle_campus.jpg");
}

.reAct {
    background-image: url("../img/background/re_act.jpeg");
}

.mahapanca {
    background-image: url("../img/background/mahapanca.jpg");
}

.aiChannel {
    background-image: url("../img/background/ai_channel.png");
}

.english {
    background-image: url("../img/background/english.svg");
}

.german {
    background-image: url("../img/background/german.svg");
}

.thai {
    background-image: url("../img/background/thai.svg");
}

.korean {
    background-image: url("../img/background/korean.svg");
}

.russian {
    background-image: url("../img/background/russian.svg");
}

.indonesian {
    background-image: url("../img/background/indonesian.svg");
}

.vietnamese {
    background-image: url("../img/background/vietnamese.svg");
}

.background {
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, .5);
}

.category {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 2em;
}